.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}

.button:hover {
    opacity: 90%;
}
